/** Custom icons **/

.nav-custom-icons .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
}

.nav-custom-icons .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-border-radius: none !important;
	-webkit-border-radius: none !important;
	border-radius: none !important;
}

#tweetsLink .ui-icon {
	background:url("http://s3.socktan.com/media/img/icons/23-bird.png") 50% 50% no-repeat;
	background-size:25px 24px;
}
#reelLink .ui-icon {
	background:url("http://s3.socktan.com/media/img/icons/45-movie-1.png") 50% 50% no-repeat;
	background-size: 19px 25px;
}
#homeLink .ui-icon {
	background:url("http://s3.socktan.com/media/img/icons/53-house.png") 50% 50% no-repeat;
	background-size:22px 22px;
}
#talkLink .ui-icon {
	background:url("http://s3.socktan.com/media/img/icons/09-chat-2.png") 50% 50% no-repeat;
	background-size: 24px 22px;
}
#jqueryLink .ui-icon {
	background:url("http://s3.socktan.com/media/img/icons/196-radiation.png") 50% 50% no-repeat;
	background-size:25px 22px;
}
#htmlLink .ui-icon {
	background:url("http://s3.socktan.com/media/img/icons/144-martini.png") 50% 50% no-repeat;
	background-size:22px 24px;
}
#socialLink .ui-icon {
	background:url("http://s3.socktan.com/media/img/icons/134-viking.png") 50% 50% no-repeat;
	background-size: 25px 24px;
}

video {
	width:80%;
}

/** Twitter TWTR Widget **/
.twtr-ft {
	display:none;
}

.twtr-doc.twtr-fullscreen {
	font-size:14px !important;
}
/** Twitter TWTR Widget **/

/** Custom icons **/

.nav-custom-icons .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
}

.nav-custom-icons .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: none !important;
	border-radius: none !important;
}